
/* 顶部导航 */
.topbar-nav,.topbar-cat,.topbar-info{
    display: inline-block;
}
.head{
    height: 40px;
    line-height: 40px;
    background: #333;
    font-size: 12px;
    color: #b0b0b0;
}
.head a{
    color: #b0b0b0;
}
.head a:hover{
    color: #fff;
    text-decoration: none;
} 
.topbar-nav,.topbar-cart .sep{
    margin: 0 5px;
    color: #424242;
}
.topbar-cart,.topbar-info{
    position: relative;
    float: right;
}
.head .topbar-info{
    width: 120px;
    margin-left: 15px;
}
.topbar-info .cart-mini{
    text-align: center;
    display: block;
    background: #424242;
    color: #b0b0b0;
}
.topbar-info a:hover{
    background: #fff;
    color: #ff6700;
}
.topbar-info .cart-font{
    margin-right: 10px;
}

/* 头部导航栏 */
.header-logo,.header-nav,.header-search{
    display: inline-block;
}
.header-logo .logo{
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    background-color: #ff6700;
}
.logo::before
{
    content: "";
    background: url("../img/mi-logo.png") no-repeat 50% 50%;

}
.logo::before,.logo::after{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 55px;
    height: 55px;
    content: '';
}
.nav-list{
    position: relative;
    float: left;
    width: 820px;
    height: 88px;
    padding: 12px 0 0 30px;
    list-style: none;
    font-size: 16px;
}
.nav-item{
    float: left;
}
.nav-item .link{
    display:block;
    padding: 26px 10px 38px;
    color: #333;
}
.top-header .nav-category{
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
}
.top-header .nav-category .link-category{
    display: block;
    padding: 26px 0 38px;
    color: #333;
    visibility: hidden;
}
.site-category{
    display: inline-block;
    position: absolute;
    z-index: 21;
    top: 102px;
    left: -88px;
    width: 262px;
    height: 420px;
    font-size: 14px;
}
.site-category-list{
    height: 420px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    list-style: none;
}
.site-category-list .title{
    display: block;
    position: relative;
    height: 42px;
    line-height:42px; 
    color: #fff;
}
.site-category-list .title i{
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
}
.top-header .header-search{
    float: right;
    width: 196px;
    margin-top: 25px;
}
.top-header .header-search .search-form{
    position: relative;
    width: 196px;
    height: 50px;
}
.top-header .site-text{
    position: absolute;
    top: 0;
    right: 51px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
}
.top-header .search-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 51px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    background: #ccc;
    text-align: center;
}
.header-search .search-hot-words{
    position: absolute;
    top: 5px;
    right: 62px;

}
.header-search .search-hot-words a{
    display: inline-block;
    margin-left: 5px;
    padding: 0 2px;
    font-size: 12px;
    background: #eee;
    color: #757575;
}
/* 轮播图 */
.home-hero-container{
    /* position: relative; */
}
.home-hero{
    margin-bottom:26px; 
}
.home-hero-silder{
    /* position: relative; */
    height: 420px;
    overflow: hidden;
}
.home-hero-silder .slider{
    height: 460px;
    width: 1170px;
}
.home-hero-silder .slider img{
    width: 100%;
    height: 100%;
}
.home-hero-silder .ui-pager{
    display: block;
    width: 400px;
    height: 30px;
    text-align: right;
}
.ui-wrapper{
    max-width:100%;
    position: relative; 
} 
.ui-wrapper .ui-viewport{
    width: 100%;
    overflow: hidden;
    height: 460px;
    position: relative;
}
.ui-wrapper .ui-pager .ui-pager-item{
    display: inline-block;

}
.ui-wrapper .ui-pager a{
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    overflow: hidden;
    text-indent: -9999px;
    background: rgba(0, 0, 0, 0.4)
}
/* 轮播图下的商品列表 */
.home-hero .home-hero-sub{
    margin-top: 14px;
}
.home-hero-sub {
    margin-bottom: 26px;
}
.home-hero-sub .home-channel-list{
    margin: 0;
    height: 170px;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}
.home-hero-sub .home-channel-list li{
    position: relative;
    float: left;
    width: 85px;
    height: 82px;
    padding: 0px 3px;
}
.home-channel-list a {
    display: block;
    padding-top: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(255,255,255,0.7);
    transition: color .2s;
}
.home-channel-list i {
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
}
.home-promo-list{
    list-style-type: none;
}
.home-promo-list li{
    float: left;
    width: 251px;
    height: 170px;
    margin-left: 15px;
}
.home-promo-list img{
    width: 100%;
    height: 100%;
}
/* 开始闪购 */
.xm-plain-box .box-hd{
    position: relative;
    height: 58px;
}
.xm-plain-box .box-hd .title{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.xm-plain-box .box-hd .more{
    position: absolute;
    top: 15px;
    right: 0;
}
.xm-controls .control-disabled{
    cursor: pointer;
}
.control {
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
}
.xm-flashPurchase .box-bd{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom:40px; 
}
.xm-flashPurchase .xm-carousel-list{
    width: 100%;
}
.xm-carousel-list li{
    float: left;
    width: 234px;
    margin-right: 14px;
}
.xm-flashPurchase .goods-list{
    height: 340px;
    overflow: hidden;
}
.xm-flashPurchase .xm-flashPurchase-countdown{
    float: left;
    width: 234px;
    margin: 0 14px 0 0;
    padding: 0;
}
.xm-flashPurchase .xm-flashPurchase-countdown li{
    background: #f1eded;
    text-align: center;
}
.xm-flashPurchase .rainbow-list .rainbow-item-4{
    border-top-color: #e53935;
}
.xm-flashPurchase .goods-list li{
    height: 300px;
    margin-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
}
